{% extends 'users/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div
  class="backgroundcolorwhite"
  style="
    z-index: 1;
    background-color: white;
    right: 0%;
    top: 0;
    position: fixed;
    height: 100%;
    width: 35%;
  "
>
  <div>
    <img
      src="../../static/users/assets/icons/login/together.png"
      class="custom-register-pic"
      style="
        height: 110%;
        width: 65%;
        position: fixed;
        z-index: 1;
        top: -10%;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 20px;
        left: 0;
      "
      alt="Responsive image"
    />
  </div>

  <div
    class="pwresetcss"
    style="
      height: 100%;
      width: 20%;
      position: fixed;
      z-index: 1;
      top: 20%;
      padding-right: 1%;
      right: 7%;
    "
  >
    <div
      class="custom-alert-info"
      style="
        font-family: AvenirBook;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
      "
    >
      Your password has been reset!
    </div>
    <div class="pt-3">
      <small
        class="text-muted"
        style="
          font-family: AvenirBook;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          position: relative;
          top: 30px;
        "
      >
        Go back to Log In?
        <a href="{% url 'login' %}" style="cursor: pointer">Log In</a>
      </small>
    </div>
  </div>
</div>

<style>
  .the-custom-navbar {
    display: none;
    }
    .a {
      cursor: pointer;
    }

    input {
      margin: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      height: 45px;
      border-radius: 30px;
      padding-left: 20px;
      font-family: AvenirBook;
      font-size: 24px;
    }

    .custom-button {
      display: block;
      width: 100%;
      border: none;
      background-color: #feda14;
      padding: 5px 28px;
      font-family: LogoFont;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
    }

    .custom-button:hover {
      color: #fff;
    }

    body {
      background-color: white;
    }
  

  @font-face {
    font-family: LogoFont;
    src: url(../../static/users/assets/fonts/CoHeadlineW08Regular.ttf);
  }

  @font-face {
    font-family: LogoFontBold;
    src: url(../../static/users/assets/fonts/CoText_Trial_Bd.ttf);
  }

  @font-face {
    font-family: AvenirBook;
    src: url(../../static/users/assets/fonts/Montserrat/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: AvenirLight;
    src: url(../../static/users/assets/fonts/Montserrat/Montserrat-Light.ttf);
  }

  @font-face {
    font-family: AvenirRoman;
    src: url(../../static/users/assets/fonts/Montserrat/Montserrat-Black.ttf);
  }
</style>
{% endblock content%}
