{% extends 'users/base.html' %} {% block content %}

<div class="backgroundcolorwhite" style="
    background-color: white;
    right: 0px;
    top: 0px;
    position: relative;
    height: auto;
    width: 1820px;
  ">
  <div class="custom-position-sent" style="position: relative; left: 55px; width: 1830px">
    <div class="custom-title-and-background-sent" style="display: block; margin-bottom: 34px">
      <div class="custom-background-title-sent" style="
          position: relative;
          background-color: #f8f8f8;
          width: 1771px;
          height: 110px;
          left: -46px;
          padding-bottom: 62px;
          border-radius: 55px;
          z-index: 0;
        ">
        <div class="custom-title-sent" style="
            text-align: left;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            font-family: Montserrat-Regular;
            color: black;
            position: relative;
            left: 46px;
          ">
          This is the sent page
        </div>
      </div>
    </div>

    <div class="custom-p-padding-bottom-sent" style="display: block; margin-bottom: 53px">
      <p class="custom-p-sent">
        Our internal deadline for finishing the product (stop coding) and beginning the report was the 15th december.
      </p>
      <p class="custom-p-sent"> 
        At this date I had not received an inbox functionality which is why I sadly have no front-end for it.
      </p>
      <p class="custom-p-sent">
        It was clear within the group and agreed upon well in advance but some of our members did not finish on time.
      </p>
      <p class="custom-p-sent">
        As i'm writing this it's the 20th and our members who were late have have made it work with their own front-end. 
      </p>
      <p class="custom-p-sent"> 
        Due to these circumstances I have not had the chance to implement my ideas towards the inbox and the sent/favorite/drafts and blacklist functionalites.
      </p>
    <p class="custom-p-sent"> 
      This is just to give you some context on why I have not implemented front-end for this part. 
    </p>
    <p class="custom-p-sent" style="position: relative; top: 120px;">
      - Karsten (Front-end)
    </p>
    </div>

    <hr class="custom-line-sent" style="position: relative; top: 120px;">

    <footer class="footer mt-5 py-3 bg-fff" style="z-index: 5; position: fixed; top: 880px; left: 915px">
      <div class="container text-center">
        <span class="text-muted">
          Powered by Banana mail inc
        </span>
      </div>
    </footer>
  
</div>

<style>
  @media (min-width: 768px) {
    .navbar {}
  }

  @media (min-width: 896px) {
    .custom-title-sent {
      line-height: 110px;
    }
  }

  .custom-sent-small-img,
  .custom-sent-big-img {
    filter: brightness(0) saturate(100%) !important;
  }

  .sidebar-big-text-sent {
    color: black;
    font-family: Montserrat-SemiBold;
  }

  .custom-p-sent {
    position: relative;
    width: 1676px;

    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;

    color: #949494;
  }

  hr.custom-line-sent {
    border: 1px solid #A37302;
    width: 1676px;
    display: block;
    margin-bottom: 57px
  }

  .custom-list-title-sent {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    display: block;
    margin-bottom: 20px
  }

  .custom-list-text-sent {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
  }

  input {
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 45px;
    border-radius: 30px;
    padding-left: 20px;
    font-family: AvenirBook;
    font-size: 24px;
  }

  .custom-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #feda14;
    padding: 5px 28px;
    font-family: LogoFont;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
  }

  .custom-button:hover {
    color: #fff;
  }

  body {
    background-color: white;
  }

  @font-face {
    font-family: LogoFont;
    src: url(../../static/users/assets/fonts/CoHeadlineW08Regular.ttf);
  }

  @font-face {
    font-family: LogoFontBold;
    src: url(../../static/users/assets/fonts/CoText_Trial_Bd.ttf);
  }

  @font-face {
    font-family: Montserrat-Regular;
    src: url(../../static/users/assets/fonts/Montserrat/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: Montserrat-Light;
    src: url(../../static/users/assets/fonts/Montserrat/Montserrat-Light.ttf);
  }

  @font-face {
    font-family: Montserrat-Black;
    src: url(../../static/users/assets/fonts/Montserrat/Montserrat-Black.ttf);
  }
</style>

{% endblock content%}
</div>