{% extends 'users/base.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="backgroundcolorwhite"
  style="z-index: 1; background-color: white; right: 0%; top: 0; position: fixed; height: 100%; width: 35%;">
  <div>
    <img src="../../static/users/assets/icons/login/together.png" class="custom-register-pic" style="
      height: 110%;
      width: 65%;
      position: fixed;
      z-index: 1;
      top: -10%;
      overflow-x: hidden;
      overflow-y: hidden;
      padding-top: 20px;
      left: 0;
    " alt="Responsive image" />
  </div>
  <div class="signupcss" style="
      height: 100%;
      width: 26%;
      position: fixed;
      top: 0;
      padding-top: 1%;
      padding-right: 1%;
      right: 4%;
      background-color: white;
    ">
    <form method="post">
      {% csrf_token %}

      <fieldset class="form-group" style="
      font-family: AvenirBook;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      position: relative;
      padding-bottom: 14px;
    ">
        <legend class="mb-4" style="
        text-align: left;
        font-size: 48px;
        font-family: LogoFontBold;
        color: black;
      ">Register Today</legend>
      <div
          class="custom-form-div"
          style="
            position: relative;
            margin: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 30px;
            display: flex;
            height: 740px;
            justify-content: space-between;
            flex-direction: column;
          "
        >
        {{ form|crispy }}
        </div>
      </fieldset>
      <div class="form-group">
        <button class="custom-button" type="submit">Sign Up</button>
      </div>
    </form>
    <div class="pt-3">
      <small class="text-muted" style="
      font-family: AvenirBook;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;">
        Already have an account?
        <a href="{% url 'login' %}" class="ml-2">Log In</a>
      </small>
    </div>
  </div>
</div>

<style>
  .the-custom-navbar {
    display: none;
  }

    input {
      height: 38px;
      font-family: AvenirBook;
      font-size: 20px;
    }

    .custom-button {
      display: block;
      width: 100%;
      border: none;
      background-color: #feda14;
      padding: 5px 28px;
      font-family: LogoFont;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
    }

    .custom-button:hover {
      color: #fff;
    }

    body {
      background-color: white;
    }
  

  @font-face {
    font-family: LogoFont;
    src: url(../../static/users/assets/fonts/CoHeadlineW08Regular.ttf);
  }

  @font-face {
    font-family: LogoFontBold;
    src: url(../../static/users/assets/fonts/CoText_Trial_Bd.ttf);
  }

  @font-face {
    font-family: AvenirBook;
    src: url(../../static/users/assets/fonts/Montserrat/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: AvenirLight;
    src: url(../../static/users/assets/fonts/Montserrat/Montserrat-Light.ttf);
  }

  @font-face {
    font-family: AvenirRoman;
    src: url(../../static/users/assets/fonts/Montserrat/Montserrat-Black.ttf);
  }
</style>

{% endblock content%}
</div>